@import 'fonts';
@import 'grid';
@import 'color';
@import 'sky';
@import 'owl';
@import 'modals';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
main{
  max-width: 1920px !important;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.block1{
  height: 1100px;
}
// Логотип
.logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
// Меню
.Navbar{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 160px;
  li{
      margin: 0 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
          color: #fff;
          font-size: 16px;
      }
      a:hover{
        color: $osnova-color;
        font-size: 16px;
        text-decoration: none;
      }
  }

}
// Кнопки
.btn___up{
  height: 160px;
  display: flex;
  justify-content:  center;
  align-items: center;
  .btn__up_kn{
    width: 100%;
    font-size: 14px;
    width: 100%;
    height: 60px;
    border-radius: 60px;
    border:2px solid $osnova-color;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
  }
  a{
    text-decoration: none;
  }
  a:hover{
    .btn__up_text{
      color: $osnova-color;
    }
    
  }
  .btn__up_text{
    font-size: 14px;
    padding: 0 20px;
    text-decoration: none;
    
  }
}
// Телефон
.phone{
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon_phone{
    margin-right: 20px;
  }
  .date_phone{
    .clock_phone{
      font-size: 12px;
      color: #fff;
      text-align: right;
    }
    .number_phone{
      text-align: right;
      a{
        color: #fff;
        font-weight: bold;
        
      }
      a:hover{
        color: $osnova-color;
        text-decoration: none;
      }
    }
  }
}
.cont{
  top:0;
  width: 100vw;
  height: 1100px;
  overflow: hidden;
  position: absolute;
}
.z-index{
  z-index: 5;
  position: relative;
}
//block1-sl
section.top1{
  height: 100%;
  width: 100%;
  .zag{
    margin-top: 150px;
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;

  }
}
.block1-prem_icon{
  margin-top: 40px;
  color: #fff;
}
.block1-prem_text{
  padding-left: 10px;
  margin-top: 40px;
  color: #fff;
}
.flex-centr{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bu{
  text-decoration: none;
}
.but{
  background: $osnova-color;
  border-radius: 60px;
  text-align: center;
  width: 380px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  box-shadow: 2px 6px 40px 0px rgba(0, 204, 204, .5);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.butt1{
  margin: 80px 0;
}
.butt2{
  margin-top: 0px;
}
.but::before{
  content: "";
  border-radius: 2px solid red;
  padding: 2px;
  display: block;
}
.but:after {
  content: "";
  display: block;
  width: 20px;
  height: 200px;
  background: #fff;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0.5) 100%
  );
  z-index: 1;
  transform: rotate(45deg);
  position: absolute;
  animation: movingFlare 3s ease-in-out 0.05s infinite;
}
 
@keyframes movingFlare {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}
.block2{
  min-height: 1000px;
  background: url('@img/bg-blur.png') center center no-repeat $bg-color;
  position: relative;
  padding-top: 90px;
  
}
.block2::before{
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  background: url("@img/bg-down-block.png");
  width: 100%;
  height: 40px;
  position: absolute;
  z-index: 2;
}
.block2__text{
  position: relative;
  &_opis{
    color: #fff;
    line-height: 24px;
    padding-left: 30px;
    padding-right: 30px;
  }
  &_silka{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    a{
      color: #fff;
      border-radius: 50px;
      border: 1px solid $osnova-color;
      padding: 14px 30px;
      text-decoration: none;
      font-size: 12px;
      position: absolute;
      top:-100px;
      font-weight: 600;
      text-transform: uppercase;
      margin: 0 auto;
      z-index: 5;
      background: $osnova-color;
      box-shadow:0 0 40px rgba(0, 204, 204, 0.8);
    }
    
  }
}
.block2__img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &_text{
    text-align: center;
    color: #fff;
    font-size: 36px;
    padding-bottom: 10px;
    text-transform: uppercase;

  }
  &_texts{
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 60px;

  }
}
.block2__text_img{
  position: relative;
  margin: 0 auto;
  border-radius: 160px;
  width: 300px;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
  img{
    transition: all 2s linear;
    margin: 4px;
    
  }
}
.block2__text_img::after{
  content: "";
  display: block;
  position: absolute;
  border-radius: 160px;
  width: 95%;
  height: 95%;
  z-index: 2;
  border: 4px solid $bg-color;
}
.block2__text_img:hover img{
  zoom: 1.1;
}

.block2__text{
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
  &_numb{
    font-size: 56px;
    text-align: center;
    font-weight: 900;
    line-height: 100px;
    background: linear-gradient(180deg, #FFFFFF 43.29%, rgba(255, 255, 255, 0.479167) 61.7%, rgba(255, 255, 255, 0) 81.3%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
  }
}
.block3{
  position: relative;
  height: 900px;
  .block3_zag{
    text-transform: uppercase;
    font-size: 48px;
    color: $text-color;
    margin-top: 60px;
  }
}
.mapst{
  position: relative;
  .map_car{
    position: absolute;
    z-index: 2;
  }
  .map_map{
    position: relative;
    z-index: 1;
  }
}
.block3_compas{
  position: absolute;
  top:60px;
  right: 60px;
}
.block3_prem{
  margin-top: 60px;
}
.svg_compas{
  position: absolute;
  top:57px;
  right: 47px;
  width: 82px;
  height: 82px;
  animation:spin 3s linear infinite;
}
@keyframes spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform:rotate(360deg);
  }
}
.block3_margin-60{
  margin-top: 60px;
}
.block4{
  position: relative;
  min-height: 850px;
}
.block4__zag{
  font-size: 48px;
  margin-bottom: 60px;
}
.block4__otstup{
  padding-top: 80px;
}
.block4__up_right{
  background: #161D25;
  width: 70%;
  height: 150px;
  position: absolute;
  border-radius: 0 0 0 30px;
  right: 0;
  top:0;
}
.block4__sl{
  position: absolute;
  width: 100%;
  margin-top: 12%;
  padding-left: 28%;
  padding-right: 10%;
  .block4__sl_zag{
    color: #fff;
    font-size: 36px;
    margin-bottom: 40px;
  

  }
}
.block4__sr{
  margin-top: 40px;
  color: #fff;
  display: flex;
  .block4__sr_text{
    margin-left: 20px;
  }
}
.owl-sl1 .item{
  position: relative;

}
.owl-nav{
  left: 0;
  right: 0;
  .owl-prev{
    span{
      color: $osnova-color;
      font-size: 60px;
      position: relative;
    }
  }
  .owl-next{ 
    float: right;
    span{
      color: $osnova-color;
      font-size: 60px;
      position: relative;
    }
  }
}
.block5{
  min-height: 950px;
  background: url(@img/block4_fon.png) center center no-repeat;
  .block5_zag{
    font-size: 48px;
    text-align: center;
    color: #fff;
    margin-top: 80px;
  }
  .block5_podzag{
    color: #fff;
    text-align: center;
    margin-top: 10px;
  }
  .block5__form{
    width: 100%;
    margin-top: 30px;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    form{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 20px;
      border-radius: 30px;
      input{
        height: 80px;
        width: 100%;
        margin-top: 40px;
        border-radius: 0px;
        font-size: 14px;
        border: 0px;
        border-radius: 50px;
        padding-left: 30px;
        padding-right: 30px;
      }
    }

  }
  .block5-form{
    margin-top: 40px;
  }
  .uslov{
    text-align: center;
    color: #fff;
    margin-top: 30px;
    a{
      color: $osnova-color;
    }
  }
  .blick5__img{
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0;
    img{
      position: absolute;
      width: 210%;
      margin-top: -200px;
      margin-left: -200px;
    }
  }
}
.block5__stat-margin{
  margin-top: 180px;
}
.block5__stat{
  margin-top: 60px;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.block5__stat_icon{
margin-right: 10px;
}
.block5__stat_text{
  text-align: left;
  color: #fff;
}
.block5::before{
  content: "";
  position: relative;
  display: block;
  background:url(@img/block5-bg.svg);
  width: 100%;
  height: 60px;
  top:0px;
}
.block5_prem{
  margin-top: 100px;
}
.block6{
background: url(@img/block6_fon.png) center center no-repeat;
width: 100%;
}
.block6_zag{
  margin-top: 120px;
  color: #fff;
  font-size: 30px;
}
.block6_podzag{
  margin-top: 50px;
  color: #fff;
  font-size: 16px;
}
.block6_woomen{
  height: 100%;
  width: 100%;
  margin-top: 60px;
  text-align: center;
  img{
    width: 80%;
    margin-bottom: -15px;
    
  }
}
.block6__form{
  margin-top: 120px;
  input{
    width: 100%;
    margin-top: 20px;
    height: 60px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border:0;
    font-size: 14px;
  }
  textarea{
    margin-top: 20px;
    width: 100%;
    border-radius: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
  }
}

.footer{
  background: $bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
  .footer-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .footer-logo_text{
      color: #fff;
      margin-left: 20px;
      font-size: 24px;
    }
  }
  .footer_mesto{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    a{
      text-decoration: none;
    }
  }
  .footer_phone{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    a{
      text-decoration: none;
      font-size: 30px;
      font-weight: bold;
      color: #fff;
    }
  }
  
}










.oh02:hover{
  opacity: 0.8;
}
.oh02{
  opacity: 1;
  position: relative;
  cursor: pointer;
}
.oh01:hover{
  opacity: 0.8;
}
.oh01{
  opacity: 1;
}
.oh0:hover{
  opacity: 0.8;
}
.oh0{
  opacity: 1;
}
.och0{
  opacity: 1;
  z-index: 3;
  z-index: 3;
}
.oh1:hover{
  opacity: 0.8;
}
.oh1{
  opacity: 1;
}
.och1{
  opacity: 1;
  z-index: 3;
}
.oh2:hover{
  opacity: 0.8;
}
.oh2{
  opacity: 1;
}
.och2{
  opacity: 1;
  z-index: 3;
}
.oh3:hover{
  opacity: 0.8;
}
.oh3{
  opacity: 1;
}
.och3{
  opacity: 1;
}
.oh4:hover{
  opacity: 0.8;
}
.oh4{
  opacity: 1;
}
.och4{
  opacity: 1;
  z-index: 3;
}
.oh5:hover{
  opacity: 0.8;
}
.oh5{
  opacity: 1;
}
.och5{
  opacity: 1;
  z-index: 3;
}
.oh6:hover{
  opacity: 0.8;
}
.oh6{
  opacity: 1;
}
.och6{
  opacity: 1;
  z-index: 3;
}
.och7{
  opacity: 0.8;
  z-index: 3;
}
.och8{
  opacity: 0.8;
  z-index: 3;
}
.och9{
  opacity: 0.8;
  z-index: 3;
}
.och10{
  opacity: 0.8;
  z-index: 3;
}
.och11{
  opacity: 0.8;
  z-index: 3;
}
.och12{
  opacity: 0.8;
  z-index: 3;
}
.och13{
  opacity: 0.8;
  z-index: 3;
}
.och14{
  opacity: 0.8;
  z-index: 3;
}
.och15{
  opacity: 0.8;
  z-index: 3;
}
.och16{
  opacity: 0.8;
  z-index: 3;
}
.och17{
  opacity: 0.8;
  z-index: 3;
}
.och18{
opacity: 0.8;
z-index: 3;
}
.och19{
  opacity: 0.8;
  z-index: 3;
}
.och20{
  opacity: 0.8;
  z-index: 3;
}
.och21{
  opacity: 0.8;
  z-index: 3;
}
.och22{
  opacity: 0.8;
  z-index: 3;
}
.och23{
  opacity: 0.8;
  z-index: 3;
}
.och24{
  opacity: 0.8;
  z-index: 3;
}
.och25{
  opacity: 0.8;
  z-index: 3;
}
.och26{
  opacity: 0.8;
  z-index: 3;
}
.och27{
  opacity: 0.8;
  z-index: 3;
}
.och28{
  opacity: 0.8;
  z-index: 3;
}
.och29{
  opacity: 0.8;
  z-index: 3;
}
.och30{
  opacity: 0.8;
  z-index: 3;
}
.och31{
  opacity: 0.8;
  z-index: 3;
}
.och32{
  opacity: 0.8;
  z-index: 3;
}
.och33{
  opacity: 0.8;
  z-index: 3;
}
.och34{
  opacity: 0.8;
  z-index: 3;
}
.och35{
  opacity: 0.8;
  z-index: 3;
}
.och36{
  opacity: 0.8;
  z-index: 3;
}
.och37{
  opacity: 0.8;
  z-index: 3;
}
.och38{
  opacity: 0.8;
  z-index: 3;
}
.och39{
  opacity: 0.8;
  z-index: 3;
}
.och40{
  opacity: 0.8;
  z-index: 3;
}
.och41{
  opacity: 0.8;
  z-index: 3;
}
.car-ts{
  animation-direction: alternate;
	animation-duration: 3s;
	animation-name: hideshow;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
  position: absolute;
}
@keyframes hideshow {
  0% {  transform: translate3d(170px, -170px, 0px); }
  100% {  transform: translate3d(150px, -160px, 0px); }
}
.modal{
  
}
@import 'media.scss';



